.scroll-list-container {
  position: relative;
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.scroll-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 16px;
  padding: 16px;
  scroll-snap-type: x mandatory;
}

.scroll-list::-webkit-scrollbar {
  height: 8px;
}

.scroll-list::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.item {
  scroll-snap-align: center;
}

.item-content {
  background: transparent;
  color: white;
  padding: 1rem;
  min-width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .scroll-list {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 400px;
    scroll-snap-type: y mandatory;
  }

  .scroll-list::-webkit-scrollbar {
    width: 6px;
  }

  .scroll-list::-webkit-scrollbar-thumb {
    background: #888;
  }

  .item-content {
    min-width: auto;
    min-width: 300px;
    height: 300px;
    margin: 0 auto;
  }
}

.top-gradient,
.bottom-gradient {
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.top-gradient {
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

.bottom-gradient {
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
}
