.passive{
    background: linear-gradient(90deg, #DDE0FF 0%, #BAD1FF 90.14%);

}
.active{
    background: linear-gradient(107.48deg, #5D90FD 15.05%, #8AB0FF 95.82%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: justify;
    text-align: justify;
}
