.passive{
    background: linear-gradient(90deg, rgba(221, 224, 255, 0.5) 0%, rgba(186, 209, 255, 0.5) 90.14%);

}
.active{
    background: linear-gradient(107.48deg, #5D90FD 15.05%, #8AB0FF 95.82%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: justify;
    text-align: justify;
    padding-top: 12px;
}
