@import "tailwindcss";

html, body{
  overflow-x: clip;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-ExtraBold.ttf');
  font-weight: 800;
}

/* FiraCode Nerd Font */
@font-face {
  font-family: 'FiraCode Nerd Font';
  src: url('./assets/fonts/FiraCodeNerdFont-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'FiraCode Nerd Font';
  src: url('./assets/fonts/FiraCodeNerdFont-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'FiraCode Nerd Font';
  src: url('./assets/fonts/FiraCodeNerdFont-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'FiraCode Nerd Font';
  src: url('./assets/fonts/FiraCodeNerdFont-Bold.ttf');
  font-weight: 700;
}

*{
  font-family: "Montserrat","FiraCode Nerd Font";
}

#active{
  font-weight: bold;
}
ba{
  color: black;
}
lo{
  font-weight:600;
  font-size: 48px;
}

@media screen and (max-width:768px){
    lo{
      font-size: 32px;
    }
}